html, body {
    width: 100%;
    height: 100%;
}

.vert-layout, .horiz-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 24px;
}

.vert-layout {
    flex-direction: column;
}

.horiz-layout {
    flex-direction: row;
}